body{
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}
.container{
  width:100vw;
  height: 100vh;
  display: block;
  margin: 0 0;
}
#myCanvas{
  width: 100%;
  height: 100%;
}
.main-content{
  display: block;
  width: 100%;
  height: 100%;
}
.canvas-container{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#ImageBuildProgressBar{
  height: 30px;
  width: 100%;
  visibility: hidden;
  background: black;
  position: absolute;
  top:-50px;
  color:white;
}
.btn{
  border: none;
  padding: 10px;
  background-color: blue;
  color:white
}
#buildImageBtn{
  position: absolute;
  left:150px;
  top: 10px;
}
#buildImageBtn2{
  position: absolute;
  left:150px;
  top:60px;
}

#passValue{
  position: absolute;
  left:150px;
  top:90px;
}
#timeTaken{
  position: absolute;
  left:150px;
  top:120px;
}
